<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>SHOW</title>
</head>
<body>
    <div class="container">
        <H1><%= budget.name %> </H1>
        <a class="button button-primary" href="/budgets">BACK</a>
        <ul>
            <li>
              <b>date</b>
              <ul>
                <li><%= budget.date %></li>
              </ul>
            </li>
            <li>
                <b>name</b>
                <ul>
                  <li><%= budget.name %></li>
                </ul>
              </li>
              <li>
                <b>from</b>
                <ul>
                  <li><%= budget.from %></li>
                </ul>
              </li>
              <li>
                <b>amount</b>
                <ul>
                  <li><%= budget.amount %></li>
                </ul>
              </li>
              <li>
                <b>tags</b>
                <ul>
                  <li><%= budget.tags %></li>
                </ul>
              </li>
          </ul>
          
    </div>


    
</body>
</html>